body{
    background-color: #ddd;
}
.carousel-control-prev, .carousel-control-next{
    font-size:50px;
}
.fa {
    font-size: 50px;
}
.navbar{
    height:60px;
}
.carouselcontainer{
    height: 100vh;
}
.carousel-inner{
    height: 100vh;
}
.navbar:not(.top-nav-collapse){
    background:rgba(255,255,255,0.10) !important;
}
.navlogo span{
    margin-left: -8px;
    margin-top: 11px;
}
#sec-3{
    background-color: #ddd;
}
#sec-4 .col{
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: 5px;
    margin-right: 10px;
    height: 250px;
}